<% if @outfit.errors.any? %>
	<h3>Oh noes! Something is wrong :( </h3>
	<ul> <% @outfit.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<%end%>

<%= form_for @outfit do |f| %>
	<div>
		<%= f.label :description, "Items in Outfit" %>
		<%= f.text_area :description %>
	</div>
	<div>
		<%= f.label :gender, "Guy or Girl?" %>
		<%= f.select(:gender, [['Guy', "Guy"], ['Girl', "Girl"]]) %>
	</div>

	<div>
		<%= f.label :min_temp, "Minimum Temperature" %>
		<%= f.text_field :min_temp %>
	</div>
	<div>
		<%= f.label :max_temp, "Maximum Temperature" %>
		<%= f.text_field :max_temp %>
	</div>
	<div>
		<%= f.label :url, "Where can you buy this outfit? (Optional URL)" %>
		<%= f.text_field :url %>
	</div>
	<div>
		<%= f.label :image, "Upload a picture" %>
		<%= f.file_field :image %>
	</div>

	<br>
	<%= f.submit "Submit this outfit!", :class=> 'btn' %>

<% end %>