<br>
<br>
<br>
<br>

<%= form_tag "/", :method => :get do %>
	<b>Need some inspiration on what to wear?</b>
	<br>Enter in today's weather condition:
	<%= text_field_tag :q, params[:q] %> F
	<%= submit_tag "Show me clothes!"%></br> 
<% end %>

<h4> weather mood board </h4>
<div container>
	<div display="inline-block">
		<% @outfits.each do |outfit| %>
		<div>
			<!-- 	<img src="http://cache.mrporter.com/images/products/378520/378520_mrp_ou_xl.jpg"/> -->
			<a href="<%= outfit_path(outfit) %>"><img src="<%= outfit.image.url %>" alt="<%= outfit.description%>"/></a>
		</div>
		<% end %>
	</div>
</div>