<%= form_tag "/", :method => :get, :class => 'form-inline' do %>
	<h4>Need some inspiration on what to wear?</h4>
	<%= label_tag :q, 'Today''s temperature:' %>
	<%= text_field_tag :q, params[:q], :class => 'input-small' %>
	<span>&deg;F</span>
	<p><%= label_tag :gender, "Guy or Girl?" %>
	<%= select_tag :gender, options_for_select(['Guy', "Girl"], @selected_gender) %>
	<%= submit_tag "Show me clothes!", :class => 'btn' %> </p>
<% end %>

<h4>weather mood board</h4>
<hr />
	<% if @outfits.empty? %>
		<div class="alert alert-info">Sorry, no outfits were found.  Want to <%= link_to "Upload", new_outfit_path %> one?</div>
	<% else %>
		<ul class="thumbnails">
				<% @outfits.each do |outfit| %>
				<li class="span3">
					<a href="<%= outfit_path(outfit) %>" class="thumbnail">
						<img data-src="holder.js/180" src="<%= outfit.image.url %>" alt="<%= outfit.description%>"/>
					</a>
				</li>
				<% end %>
		</ul>
	<% end %>