<!DOCTYPE html>
<div class="container">
<html>
<head>
  <title>FW</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse" role="navigation">
		<ul class="nav nav-tabs">
			<li><a class="brand" href="<%= root_path %>"><h1><u>FW</u></h1></a></li>
			<li>Log In</li>
			<li><a href="<%=new_outfit_path %>"><b>add a new outfit</b></a></li>
		</ul>
	</div>

<%= yield %>

</body>
</html>

</div>
