<!DOCTYPE html>
<html>
<head>
  <title>FW</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="navbar">
		<a class="brand" href="<%= root_path %>"><h1><u>FW</u></h1></a>
		<a href="<%=new_outfit_path %>"><h5 style="text-align:right;">add a new outfit</h5></a>
<%= yield %>
</div>

</body>
</html>
